#![enable(implicit_some)]
{
    "protocol::ability::AbilityPhases": (startup: 48, active: 56, recovery: 16, cooldown: 150),
    "protocol::ability::OnTickEffects": ([
        (tick: 8,  effect: AreaOfEffect(target: Victim, radius: 5.0,  duration_ticks: 20)),
        (tick: 30, effect: AreaOfEffect(target: Victim, radius: 10.0, duration_ticks: 20)),
        (tick: 55, effect: AreaOfEffect(target: Victim, radius: 15.0, duration_ticks: 20)),
    ]),
    "protocol::ability::OnHitEffectDefs": ([
        Damage(amount: 25.0, target: Victim),
        ApplyForce(force: (0.0, 8.0, 8.0), frame: RelativePosition, target: Victim),
    ]),
}
