#![enable(implicit_some)]
(
    startup_ticks: 10,
    active_ticks: 6,
    recovery_ticks: 12,
    cooldown_ticks: 50,
    effects: [
        OnCast(AreaOfEffect(radius: 7.0, duration_ticks: 6, target: Victim)),
        OnHit(Damage(amount: 10.0, target: Victim)),
        OnHit(ApplyForce(force: (0.0, 1.5, 8.0), frame: RelativePosition, target: Victim)),
    ],
)
