[package]
name = "client"
version = "0.1.0"
edition = "2021"

[dependencies]
bevy = { workspace = true }
lightyear = { workspace = true, features = ["client", "netcode", "udp"] }
protocol = { workspace = true }
anyhow = "1.0"
