#![enable(implicit_some)]
(
    pixels_per_unit: 24.0,
    bones: [
        (name: "root",  parent: None,          default_transform: (translation: (0.0, -1.0), rotation: 0.0, scale: (1.0, 1.0))),
        (name: "torso", parent: Some("root"),  default_transform: (translation: (0.0, 0.5), rotation: 0.0, scale: (1.0, 1.0))),
        (name: "head",  parent: Some("torso"), default_transform: (translation: (0.0, 1.3), rotation: 0.0, scale: (1.0, 1.0))),
        (name: "arm_l", parent: Some("torso"), default_transform: (translation: (-1.2, 0.0), rotation: 0.0, scale: (1.0, 1.0))),
        (name: "arm_r", parent: Some("torso"), default_transform: (translation: (1.2, 0.0), rotation: 0.0, scale: (1.0, 1.0))),
        (name: "leg_l", parent: Some("root"),  default_transform: (translation: (-0.75, -0.0), rotation: 0.0, scale: (1.0, 1.0))),
        (name: "leg_r", parent: Some("root"),  default_transform: (translation: (0.75, -0.0),  rotation: 0.0, scale: (1.0, 1.0))),
    ],
    slots: [
        (name: "torso", bone: "torso", z_order: 0.0,  default_attachment: "torso_default"),
        (name: "head",  bone: "head",  z_order: 0.003,  default_attachment: "head_default"),
        (name: "arm_l", bone: "arm_l", z_order: -0.001, default_attachment: "arm_l_default"),
        (name: "arm_r", bone: "arm_r", z_order: 0.001,  default_attachment: "arm_r_default"),
        (name: "leg_l", bone: "leg_l", z_order: -0.002, default_attachment: "leg_l_default"),
        (name: "leg_r", bone: "leg_r", z_order: 0.002,  default_attachment: "leg_r_default"),
    ],
    skins: {
        "default": {
            "torso_default": (image: "sprites/humanoid/torso.png", anchor: Center,       scale: (1.0, 1.0)),
            "head_default":  (image: "sprites/humanoid/head.png",  anchor: BottomCenter, scale: (1.0, 1.0)),
            "arm_l_default": (image: "sprites/humanoid/arm_l.png", anchor: TopCenter,    scale: (1.0, 1.0)),
            "arm_r_default": (image: "sprites/humanoid/arm_r.png", anchor: TopCenter,    scale: (1.0, 1.0)),
            "leg_l_default": (image: "sprites/humanoid/leg_l.png", anchor: TopCenter,    scale: (1.0, 1.0)),
            "leg_r_default": (image: "sprites/humanoid/leg_r.png", anchor: TopCenter,    scale: (1.0, 1.0)),
        },
    },
)
