[alias]
client = "run -p client"
server = "run -p server"
web = "make web"
setup = "make setup"

# Utility aliases
check-all = "check --workspace"
build-all = "build --workspace --exclude web"
web-build = "build --release -p web --target wasm32-unknown-unknown"
test-all = "make test-all"

[build]
incremental = true

[target.wasm32-unknown-unknown]
rustflags = [
    "--cfg", "web_sys_unstable_apis",
    "-C", "target-feature=+reference-types",
    "-C", "codegen-units=8",        # Reduce parallelism to lower peak RAM usagea
    "-C", "opt-level=z",             # Optimize for size to reduce memory pressure
]

[target.x86_64-unknown-linux-gnu]
rustflags = ["-C", "link-arg=-fuse-ld=mold"
]