[
  "barrier",
  "blink_strike",
  "dash",
  "dive_kick",
  "fireball",
  "ground_pound",
  "punch",
  "punch2",
  "punch3",
  "shield_bash",
  "shockwave",
  "speed_burst",
  "teleport_burst",
  "uppercut"
]
