(["tools.vox","food.vox","environment.vox","buildings.vox","house.vox","trees/tree_circle.vox","trees/tree_square.vox","trees/tree_tall.vox","bushes/bush_circle.vox","bushes/bush_square.vox","bushes/bush_rectangle.vox"])
