[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
bevy = { workspace = true }
lightyear = { workspace = true, features = ["server", "netcode", "udp", "webtransport", "websocket"] }
protocol = { workspace = true }
anyhow = "1.0"
